[submodule "f2_tx_path"]
	path = f2_tx_path
	url = git@github.com:Chisel-blocks/f2_tx_path.git
[submodule "f2_signal_definitions"]
	path = f2_signal_definitions
	url = git@github.com/Chisel-blocks/f2_signal_definitions.git
[submodule "edge_detector"]
	path = edge_detector
	url = git@github.com:Chisel-blocks/edge_detector.git
